BOT_TOKEN=8898406316:AAG0rJsPjdSrHvejHm7foDKcRxO7qexmaOs
PUBLIC_WEBHOOK_URL=https://bot.example.com
PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_4LzQgaH1Slvc@ep-quiet-forest-abtys3dh.eu-west-2.aws.neon.tech/neondb?sslmode=require
MAIN_CHANNEL_ID=@your_main_channel
ADMIN_TELEGRAM_IDS=111111111,222222222
SUPPORT_USERNAME=@your_support
REMNAWAVE_BASE_URL=https://panel.khargoosh.net
REMNAWAVE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiZTk5NWZkY2YtNGNlZC00MTdmLTg0ZWItOWY3Njg3M2E0MzUzIiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3ODA5NzkyOTUsImV4cCI6MTA0MjA4OTI4OTV9.BoCSi0oYfHwvipbbfDhfXHgx6HbQ8gLZg3ZypFr6T5E
CARD_TO_CARD_TEXT=Card: 0000-0000-0000-0000\nName: Your Name
RENEWAL_OPTIONS=20:30:100000,30:30:140000,50:30:220000,80:30:330000,120:30:450000
REFERRAL_REWARD_TOMAN=30000
